src/soap/crypto-events.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://localhost:3000/crypto-events"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://localhost:3000/crypto-events"
             elementFormDefault="qualified">

  <!-- Types definition -->
  <types>
    <xsd:schema targetNamespace="http://localhost:3000/crypto-events">
      
      <!-- Existing request/response types -->
      <xsd:element name="GetEventsByCurrencySymbolRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="symbol" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="GetEventsByCurrencySymbolResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="eventCurrencies" type="tns:EventCurrencyArray"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- New correlation request types -->
      <xsd:element name="GetDailyReturnCorrelationRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="symbol" type="xsd:string"/>
            <xsd:element name="startDate" type="xsd:date" minOccurs="0"/>
            <xsd:element name="endDate" type="xsd:date" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="GetVolatilityCorrelationRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="symbol" type="xsd:string"/>
            <xsd:element name="startDate" type="xsd:date" minOccurs="0"/>
            <xsd:element name="endDate" type="xsd:date" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- New correlation response types -->
      <xsd:element name="GetDailyReturnCorrelationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="correlationData" type="tns:CorrelationData"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="GetVolatilityCorrelationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="correlationData" type="tns:CorrelationData"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- Correlation data type -->
      <xsd:complexType name="CorrelationData">
        <xsd:sequence>
          <xsd:element name="symbol" type="xsd:string"/>
          <xsd:element name="correlationCoefficient" type="xsd:decimal"/>
          <xsd:element name="dataPoints" type="xsd:int"/>
          <xsd:element name="startDate" type="xsd:date"/>
          <xsd:element name="endDate" type="xsd:date"/>
          <xsd:element name="averageImpactScore" type="xsd:decimal"/>
          <xsd:element name="averageMetricValue" type="xsd:decimal"/>
          <xsd:element name="metricType" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>

      <!-- Event Currency Array -->
      <xsd:complexType name="EventCurrencyArray">
        <xsd:sequence>
          <xsd:element name="eventCurrency" type="tns:EventCurrencyData" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>

      <!-- Event Currency Data -->
      <xsd:complexType name="EventCurrencyData">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:int"/>
          <xsd:element name="date" type="xsd:dateTime"/>
          <xsd:element name="eventImpactScore" type="xsd:decimal" minOccurs="0"/>
          <xsd:element name="dailyReturn" type="xsd:decimal" minOccurs="0"/>
          <xsd:element name="volatility" type="xsd:decimal" minOccurs="0"/>
          <xsd:element name="eventName" type="xsd:string"/>
          <xsd:element name="currencyName" type="xsd:string"/>
          <xsd:element name="currencySymbol" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>

    </xsd:schema>
  </types>

  <!-- Message definitions -->
  <message name="GetEventsByCurrencySymbolRequest">
    <part name="parameters" element="tns:GetEventsByCurrencySymbolRequest"/>
  </message>

  <message name="GetEventsByCurrencySymbolResponse">
    <part name="parameters" element="tns:GetEventsByCurrencySymbolResponse"/>
  </message>

  <message name="GetDailyReturnCorrelationRequest">
    <part name="parameters" element="tns:GetDailyReturnCorrelationRequest"/>
  </message>

  <message name="GetDailyReturnCorrelationResponse">
    <part name="parameters" element="tns:GetDailyReturnCorrelationResponse"/>
  </message>

  <message name="GetVolatilityCorrelationRequest">
    <part name="parameters" element="tns:GetVolatilityCorrelationRequest"/>
  </message>

  <message name="GetVolatilityCorrelationResponse">
    <part name="parameters" element="tns:GetVolatilityCorrelationResponse"/>
  </message>

  <!-- Port type -->
  <portType name="CryptoEventsPortType">
    <operation name="GetEventsByCurrencySymbol">
      <input message="tns:GetEventsByCurrencySymbolRequest"/>
      <output message="tns:GetEventsByCurrencySymbolResponse"/>
    </operation>
    
    <operation name="GetDailyReturnCorrelation">
      <input message="tns:GetDailyReturnCorrelationRequest"/>
      <output message="tns:GetDailyReturnCorrelationResponse"/>
    </operation>
    
    <operation name="GetVolatilityCorrelation">
      <input message="tns:GetVolatilityCorrelationRequest"/>
      <output message="tns:GetVolatilityCorrelationResponse"/>
    </operation>
  </portType>

  <!-- Binding -->
  <binding name="CryptoEventsBinding" type="tns:CryptoEventsPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    
    <operation name="GetEventsByCurrencySymbol">
      <soap:operation soapAction="GetEventsByCurrencySymbol"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    
    <operation name="GetDailyReturnCorrelation">
      <soap:operation soapAction="GetDailyReturnCorrelation"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    
    <operation name="GetVolatilityCorrelation">
      <soap:operation soapAction="GetVolatilityCorrelation"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <!-- Service -->
  <service name="CryptoEventsService">
    <port name="CryptoEventsPort" binding="tns:CryptoEventsBinding">
      <soap:address location="http://localhost:3000/crypto-events"/>
    </port>
  </service>

</definitions>